PORT=3001

JWT_SECRET=gzjj9Jaivv9eQpZZCobGNfX1Q1yplY2o
JWT_EXPIRATION=1m
JWT_REFRESH_TOKEN=7d

VERIFICATION_CODE_EXPIRATION=1m

DATABASE_URL=postgresql://postgres:admin@localhost:5432/suburban?schema=public

SMTP_USERNAME=7c8fb3fe7b82fd
SMTP_PASSWORD=8ee7c0cd0d6f5d
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_FROM_EMAIL='"Pengurus Paguyupan PD 27" <denailablokpd27@gmail.com>'